html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {

  background: var(--background-color);
  transition: all ease-in 1s;
  height: 100%;

}
/*
Background gradients from: https://uigradients.com/
*/
.main-header {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.main-header h1 {
  margin: 0;
}

:root {
  --background-color: #51e2f5;
}
[data-theme="theme-1"] {
  --background-color: #51e2f5;
}
[data-theme="theme-2"] {
  --background-color: #fc00ff;
}
[data-theme="theme-3"] {
  --background-color: #ff0099;
}
[data-theme="theme-4"] {
  --background-color: #bc4e9c;
}
[data-theme="theme-5"] {
  --background-color: #780206;
}
[data-theme="theme-6"] {
  --background-color: #870000;
}

.themes-container-left,
.themes-container-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.themes-container-left button,
.themes-container-right button {
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  font-size: 10px;
  border: 5px solid rgba(255, 255, 255, 0.8);
}
.themes-container-left button:nth-child(1) {
  background: #ee0979;
}
.themes-container-left button:nth-child(2) {
  background: #00dbde;
}
.themes-container-left button:nth-child(3) {
  background: #ff0099;
}
.themes-container-right button:nth-child(1) {
  background: #bc4e9c;
}
.themes-container-right button:nth-child(2) {
  background: #061161;
}
.themes-container-right button:nth-child(3) {
  background: #870000;
}


.main-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
footer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}